# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars

# Secrets
secrets/
*.pem
*.key

# Ansible
ansible/vars/secrets.yml

# OS
.DS_Store

# Editor
.vscode/
*.swp

*.md
.claude
