[defaults]
inventory = inventory.ini
allow_world_readable_tmpfiles = True
host_key_checking = False
deprecation_warnings = False
remote_tmp = /tmp/ansible
stdout_callback = ansible.builtin.default
callbacks_enabled = ansible.posix.profile_tasks

[privilege_escalation]
become = True
become_method = sudo
